body {
  background-image: url("../assets/img/pattern.png");
  height: 150vh;
  background-attachment: fixed;
}

.home {
  text-align: center;
  font-family: "Caveat", cursive;
  font-size: 4em;

  padding-top: 20px;

  animation: homeSlide 0.3s ease-in;
}

.home a {
  text-decoration: none;
  color: white;
}

.html-list,
.html-h1,
.html-list a,
.css-list,
.css-h1,
.css-list a,
.js-list,
.js-h1,
.js-list a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  list-style: none;
  font-family: "Montserrat", sans-serif;
  line-height: 4em;
}

.html-list a,
.css-list a,
.js-list a {
  background-color: rgba(86, 97, 120, 0.3);
  padding: 10px;
  border-radius: 1em;
  transition: font-size 0.3s;
}

.css-h1,
.html-h1,
.js-h1 {
  padding-left: 20px;
  font-size: 40px;
  margin-top: 100px;
}

.css-list a:hover,
.html-list a:hover,
.js-list a:hover {
  font-size: larger;
  font-weight: 600;
}

.sub-container {
  float: left;
  width: 33%;
}

#html-con {
  animation: htmlSlide 0.4s ease-in;
}

#css-con {
  animation: cssSlide 0.4s ease-in;
}

#js-con {
  animation: jsSlide 0.4s ease-in;
}

@keyframes htmlSlide {
  0% {
    transform: translateX(-200px);
  }
}

@keyframes cssSlide {
  0% {
    transform: translateY(200px);
  }
}

@keyframes jsSlide {
  0% {
    transform: translate(200px);
  }
}

@keyframes homeSlide {
  0% {
    transform: translateY(-200px);
  }
}

::-webkit-scrollbar {
  width: 12px;
  background-image: url("../assets/img/pattern.png");
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #ffffff);
  border-radius: 10px;
}
